<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <appender name="default" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/default.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%date{HH:mm:ss.SSS} [%thread] %-5level line:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="web" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/web.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level line:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="web" additivity="false">
        <appender-ref ref="web"/>
    </logger>

    <appender name="consumer" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/consumer.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level line:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="consumer" additivity="false">
        <appender-ref ref="consumer"/>
    </logger>

    <appender name="search" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoding>UTF-8</encoding>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${logHome}/search.%d{yyyy-MM-dd}.log</fileNamePattern>
            <MaxHistory>30</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level line:%L %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="search" additivity="false">
        <appender-ref ref="search"/>
    </logger>

    <!--log4jdbc -->
    <logger name="jdbc.sqltiming" level="INFO"/>

    <!-- Turn off third party chatter -->
    <logger name="org.springframework" level="WARN"/>
    <logger name="org.hibernate" level="WARN"/>
    <logger name="org.apache.activemq" level="WARN"/>
    <logger name="org.mongodb" level="WARN"/>
    <logger name="org.apache.zookeeper.ClientCnxn" level="WARN"/>

    <!-- root -->
    <root level="${logLevel}">
        <appender-ref ref="default"/>
    </root>

</configuration>